body{
    background-image: url("https://wallpapercave.com/wp/wp8069749.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(60, 143, 179), rgba(255, 0, 140, 0.637);
    text-align: center;
    font-family: cursive;
    font-size: 100px;

  }
  
  .header img{
    height: 50px;
    width: 50px;
  }